:root {
    --breeze-window-title-active-background-color: #31363b;
    --breeze-window-title-inactive-background-color: #2a2e32;
    --breeze-separator-accent-color: #64686b;
    --breeze-separator-dim-color: #3f4246;
    --breeze-toolbutton-selected-background-color: #4b4f54;
    --breeze-toolbutton-selected-border-color: #6e7175;

    --main-font-family: "Noto Sans", sans-serif;
    --main-font-size: 10pt;
    --tree-font-family: var(--main-font-family);
    --tree-font-size: 9.5pt;

    --accent-color: #3daee9;

    --main-text-color: #fcfcfc;
    --main-background-color: #2a2e32;
    --input-text-color: var(--main-text-color);
    --button-text-color: var(--main-text-color);
    --muted-text-color: #939597;

    --left-pane-background-color: #2a2e32;
    --left-pane-text-color: var(--main-text-color);

    --active-item-text-color: var(--left-pane-text-color);
    --active-item-background-color: #3daee9;

    --launcher-pane-background-color: var(--breeze-window-title-inactive-background-color);
    --launcher-pane-text-color: var(--left-pane-text-color);

    --active-tab-background-color: var(--main-background-color);
    --active-tab-text-color: var(--left-pane-text-color);
    --inactive-tab-background-color: var(--active-tab-background-color);
    --inactive-tab-text-color: var(--active-tab-text-color);

    --hover-item-background-color: transparent;

    --accented-background-color: #1B1E20;
    --more-accented-background-color: var(--accented-background-color);

    --mermaid-theme: forest;

    --main-border-color: #3f4246;
    --tooltip-background-color: #31363b;
}

body:focus-within {
    --launcher-pane-background-color: var(--breeze-window-title-active-background-color);
}

/*
 * Custom toolbar
 */
#root-widget {
    flex-wrap: wrap;
}

#launcher-pane {
    flex-direction: row !important;
    width: 100% !important;
    height: 46px;
    border-bottom: 1px solid var(--breeze-separator-accent-color);
    box-sizing: border-box;
    padding: 7px 8px !important;
    --hover-item-background-color: var(--breeze-toolbutton-active-background-color);
}

#launcher-pane .spacer {
    flex: 0 !important;
    border-left: 1px solid var(--breeze-separator-accent-color);
    margin: 6px 4px;
}

#launcher-pane .button-widget,
#launcher-pane button {
    border: 1px solid transparent !important;
    border-radius: 3px;
    margin: 0 1px;
    box-sizing: border-box;
}

#launcher-pane .button-widget:hover,
#launcher-pane button:hover {
    border-color: var(--accent-color) !important;
}

#launcher-pane .icon-action {
    width: 32px !important;
    height: 32px !important;
    padding: 0 !important;
    /* Test border */
    /*border: 1px solid red !important;*/
    text-align: center; /* Fix icon horizontal alignment */
    font-size: 18px !important;
}

#launcher-pane .icon-action:before {
    line-height: 32px; /* Fix icon vertical alignment */
}

#launcher-pane > div.component:not(.dropdown):not(.spacer) {
    flex-direction: row !important;
}

#launcher-pane .right-dropdown-widget {
    width: 32px !important;
    height: 32px !important;
}

#display-pane {

}

#rest-pane {

}

::-webkit-scrollbar-thumb {
    background: #31363b !important;
    border-color: #808284 !important;
    border-radius: 24px !important;
}

.fancytree-node.fancytree-expanded .fancytree-expander,
.fancytree-node:not(.fancytree-loading) .fancytree-expander {
    width: 21px;
}

.fancytree-node.fancytree-expanded .fancytree-expander:before,
.fancytree-node:not(.fancytree-loading) .fancytree-expander:before {
    color: #a3a3a5;
}

div.tab-row-widget {
    --main-background-color: #26292c;
}

body .CodeMirror {
    filter: invert(100%) hue-rotate(180deg);
}

.tab-row-widget-container {
    border-bottom: 0;
}

.tab-row-widget .note-tab .note-tab-wrapper {
    position: relative;
    border-top-color: transparent;
    border-bottom-color: var(--main-background-color);
    border: 1px solid #5f6265;
    border-radius: 3px !important;
    transform: translateY(6px);
}

#rest-pane > .component:first-of-type {
    border-bottom: 1px solid #5f6265;
}

.global-menu .global-menu-button {
    filter: invert(1);
}

.tab-row-widget .note-tab[active] .note-tab-wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    right: 0;
    background: var(--accent-color);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

/*
 * Launcher: Hamburger menu
 * moved to right part of the screen.
 */
#launcher-pane .button-widget.bx-chevrons-left {
    display: none;
}

#launcher-pane .global-menu {
    order: 1000;
}

#launcher-pane .global-menu {
    flex-grow: 1;
    text-align: right;
}

#launcher-pane .global-menu-button {
    background-image: none !important;
    font-size: 23px !important;
    filter: unset !important;
    width: 32px;
    height: 32px;

    /* Enable icon support. */
    font-family: 'boxicons' !important;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    display: inline-block;
    text-transform: none;
    speak: none;
    font-smooth: never;
    -webkit-font-smoothing: none;
    color: var(--launcher-pane-text-color) !important;
}

#launcher-pane .global-menu-button:before {
    content: "\eac1";
}

/*
 * Sidebar
 */
.tree-wrapper > .tree {
    padding: 13px 2px 6px 9px;
}

.gutter {
    background: none !important;
}

.gutter.gutter-horizontal {
    border-left: 1px solid var(--main-border-color);
}

.quick-search {
    border-bottom: 1px solid var(--main-border-color);
}

span.fancytree-node {
    border: 0;
    border-radius: 0;
    height: 28px;
}

span.fancytree-node:hover {
    background-color: #2e4857;
    border: 0;
}

span.fancytree-active {
    border-radius: 0;
}

span.fancytree-custom-icon {
    font-size: 18px;
}

span.fancytree-node:not(.fancytree-loading) .fancytree-expander:before {
    font-size: 22px;
    color: var(--launcher-pane-text-color);
}

.ui-fancytree ul {
    padding-left: 10px;
}

/*
 * Tooltip
 */
:root {
}

.tooltip {
}

/*
 * Main editor
 */
.component.note-split > .component:last-of-type {
    --main-background-color: #232629;
    background: var(--main-background-color);
    border: 1px solid #5f6265;
    border-radius: 6px;
    transition: border-color 250ms ease-in-out;
    margin: -1px 4px 4px 0;
}

.component.note-split > .component:last-of-type:hover,
.component.note-split > .component:last-of-type:focus-within {
    border-color: var(--accent-color);
}
