.modal-dialog {
    .modal-content {
        border-color: var(--breeze-border) !important;
    }

    .modal-body {
        padding: 4px !important;
    }

    .modal-footer {
        padding: 4px !important;
        border: 0 !important;
    }

    .form-group {
        &:last-of-type {
            margin-bottom: 0 !important;
        }

        .input-group {
            background-color: var(--breeze-input-background) !important;

            .input-group-append {
                .input-group-text {                    
                    background: transparent !important;
                    border-color: var(--breeze-border) !important;
                    line-height: 28px !important;
                    padding: 0 4px !important;
                    transition: border-color var(--breeze-transition-fast);

                    &:first-of-type {
                        margin-left: 1px;
                    }
    
                    &:hover {
                        text-decoration: none;
                        border-color: var(--breeze-contextmenu-item-hover-border) !important;
                    }
                }
            }
        }
    }    
}

.algolia-autocomplete .aa-dropdown-menu {
    font-size: var(--tree-font-size) !important;
    padding-left: 1px !important;
}