.modal-dialog {
    .modal-content {
        border-color: var(--breeze-border) !important;
    }

    .modal-body {
        padding: 4px !important;
    }

    .modal-footer {
        padding: 4px !important;
        border: 0 !important;
    }

    .form-control {
        border-color: var(--breeze-border) !important;
        font-size: var(--tree-font-size) !important;
        background-color: var(--breeze-input-background) !important;
        height: 30px;
        padding: 0 6px;
        transition: border-color var(--breeze-transition-fast);

        &:focus,
        &:hover,
        &:active {
            border-color: var(--breeze-contextmenu-item-hover-border) !important;
        }
    }

    .form-group {
        &:last-of-type {
            margin-bottom: 0 !important;
        }

        .input-group {
            background-color: var(--breeze-input-background) !important;

            .input-group-append {
                .input-group-text {                    
                    background: transparent !important;
                    border-color: var(--breeze-border) !important;
                    line-height: 28px !important;
                    padding: 0 4px !important;
                    transition: border-color var(--breeze-transition-fast);

                    &:first-of-type {
                        margin-left: 1px;
                    }
    
                    &:hover {
                        text-decoration: none;
                        border-color: var(--breeze-contextmenu-item-hover-border) !important;
                    }
                }
            }
        }

    }

    .btn {
        font-size: var(--tree-font-size);
        border: 1px solid var(--breeze-button-border);
        border-radius: 3px !important;
        padding: 6px 10px !important;
        background: linear-gradient(to bottom, var(--breeze-button-background-start), var(--breeze-button-background-end)) !important;
        cursor: default !important;
        transition: border-color var(--breeze-transition-fast);

        &:focus,
        &:hover,
        &:active {
            border-color: var(--breeze-contextmenu-item-hover-border) !important;
        }

        kbd {
            font-family: inherit !important;

            &:last-of-type {
                padding-right: 0 !important;            
            }
        }
    }
}

.algolia-autocomplete .aa-dropdown-menu {
    font-size: var(--tree-font-size) !important;
    padding-left: 1px !important;
}