.modal.jump-to-note-dialog {
    .modal-header {
        padding: 0 2em 0 0 !important;
    }

    .modal-dialog {
        margin-top: 42px !important;
    }

    .modal-content {
        border: 1px solid var(--breeze-border) !important;
    }

    label[for="jump-to-note-autocomplete"] {
        display: none;
    }

    .aa-suggestions {
        padding: 0;
    }

    .modal-footer {
        padding-top: 0 !important;

        .btn {
            margin: 0 !important;
        }
    }

}