@menu-border-radius: 3px;

:root {
    --menu-text-color: var(--breeze-contextmenu-foreground);
    --menu-background-color: var(--breeze-contextmenu-background);
    --dropdown-border-color: var(--breeze-contextmenu-border);
}

.dropdown-menu {
    --hover-item-background-color: var(--breeze-contextmenu-item-hover-background);
    --hover-item-text-color: var(--breeze-contextmenu-foreground);

    padding: 0 !important;
    box-shadow: 0 0 var(--breeze-contextmenu-shadow-radius) var(--breeze-contextmenu-shadow-color) !important;
    border-radius: @menu-border-radius;

    .bx {
        font-size: 11pt;    // Make icons slightly larger, because the icons seem otherwise unbalanced.
        margin-right: 4px;
        transform: translateY(2px); // Align icons with the text.
    }

    .dropdown-item {
        border-radius: @menu-border-radius;
        border-color: var(--breeze-toolbutton-active-border-color) !important;
        background: transparent !important;
        border: 1px solid transparent !important;
        font-size: 9pt;
        padding: 4px 10px !important;

        /* Overlap with the context menu's border so that when highlighted there will be no double borders. */
        margin-left: -1px;
        margin-bottom: -1px;
        margin-top: 1px;
        width: calc(100% + 2px);

        --hover-item-border-color: var(--breeze-contextmenu-item-hover-border);

        &:first-of-type {
            margin-top: -1px;
        }
    }

    .dropdown-divider {
        border-top-color: var(--breeze-contextmenu-border) !important;
        margin: 1px 0 !important;
    }

    kbd {
        color: inherit !important;
        font-family: inherit !important;
        font-size: inherit !important;
    }
}
