@breeze-window-background: #2a2e32;
@breeze-window-foreground: #fcfcfc;
@breeze-titlebar-active-background: #31363b;
@breeze-titlebar-inactive-background: @breeze-window-background;

@import "master.less";
