@breeze-window-background: #2a2e32;
@breeze-window-foreground: #fcfcfc;
@breeze-titlebar-active-background: #31363b;
@breeze-titlebar-inactive-background: @breeze-window-background;
@breeze-input-background: #232629;

@breeze-accent-color: #3daee9;

@breeze-sidebar-active-background: @breeze-accent-color;
@breeze-sidebar-active-foreground: #ffffff;
@breeze-sidebar-hover-background: #2e4857;
@breeze-sidebar-hover-foreground: @breeze-window-foreground;

@import "master.less";

body .CodeMirror {
    filter: invert(100%) hue-rotate(180deg);
}
