@breeze-window-background: #eff0f1;
@breeze-window-foreground: #232629;
@breeze-titlebar-active-background: #dee0e2;
@breeze-titlebar-inactive-background: @breeze-window-background;

@import "master.less";
