:root {
    --breeze-toolbar-height: 46px;
    --breeze-transition-default: ease-in-out 200ms;
    --breeze-transition-fast: ease-in-out 100ms;

    --breeze-foreground-color: #fcfcfc;

    --breeze-iconbutton-width: 32px;
    --breeze-iconbutton-height: var(--breeze-iconbutton-width);
    --breeze-iconbutton-spacing: 1px;

    --breeze-separator-dim-color: #3f4246;

    --breeze-font-monospace: "Hack", monospace;

    --title-row-height: 42px;
    --footer-ribbon-height: 31px;
    --breeze-scrollbar-border-radius: 24px;

    /*
     * Move "More" and "History" buttons to the top right of the editor, taking into consideration
     * that there are already there the buttons to split & close the pane.
     */
    --ribbon-button-right-margin: 7px;
}

.icon-button(@size: 32px) {
    width: @size !important;
    height: @size !important;
    padding: 0 !important;
    text-align: center;
    font-size: 18px !important;
    transition: border-color var(--breeze-transition-fast);
    border: 1px solid transparent !important;
    border-radius: 3px;
    margin: 0 1px;
    box-sizing: border-box;

    &:before {
        line-height: @size;
    }

    &:hover {
        border-color: var(--breeze-accent-color) !important;
    }

    &:active {
        background-color: var(--breeze-toolbutton-active-highlight-background-color) !important;
    }
}
