@breeze-window-background: #eff0f1;
@breeze-window-foreground: #232629;
@breeze-titlebar-active-background: #dee0e2;
@breeze-titlebar-inactive-background: @breeze-window-background;
@breeze-input-background: #ffffff;

@breeze-accent-color: #3daee9;

@breeze-toolbar-border: #afb2b4;

@breeze-sidebar-active-background: @breeze-accent-color;
@breeze-sidebar-active-foreground: #ffffff;
@breeze-sidebar-hover-background: #cbe3f0;
@breeze-sidebar-hover-foreground: @breeze-window-foreground;

@breeze-tabbar-background: @breeze-window-background;
@breeze-tabbar-border: #bcbebf;
@breeze-tabbar-close-normal-background: #898b8d;
@breeze-tabbar-close-hover-background: #e49aa2;

@breeze-tabbar-normal-background: #cdcfd0;
@breeze-tabbar-normal-foreground: @breeze-window-foreground;

@breeze-tabbar-active-background: @breeze-window-background;
@breeze-tabbar-active-foreground: @breeze-tabbar-normal-foreground;

@breeze-tabbar-hover-background: #cbe3f0;
@breeze-tabbar-hover-foreground: @breeze-tabbar-normal-foreground;

@breeze-toolbutton-foreground-color: @breeze-window-foreground;
@breeze-toolbutton-normal-border-color: transparent;
@breeze-toolbutton-normal-background-color: transparent;
@breeze-toolbutton-active-border-color: #b7b8b9;
@breeze-toolbutton-active-background-color: #d5d7d8;
@breeze-toolbutton-hover-border-color: @breeze-accent-color;
@breeze-toolbutton-hover-background-color: transparent;

@import "master.less";
