.ck-content,
.note-detail .note-detail-editable-text {
    .table table {
        &,
        td,
        th {
            border: 1px solid var(--breeze-tab-group-border);
        }
    }

    code {
        background: transparent !important;
        color: var(--breeze-link-color) !important;
        font-size: 1rem;
        padding: 0;
        display: inline-block;
    }

    pre {
        background: var(--breeze-window-background);
        border: 1px solid var(--breeze-sidebar-border);
        border-radius: 3px;
        font-size: 0.9rem;
        padding: 0.75em;

        code {
            color: inherit !important;
        }
    }

    .ck-horizontal-line {
        margin: 0 -@editor-padding;
        
        hr {
            height: 1px;
            background: var(--breeze-input-border);
        }
    }
}