.title-row {
    height: var(--title-row-height) !important;

    .icon-action {
        .icon-button();
    }

    .note-icon-widget {
        height: var(--title-row-height) !important;
        margin: 0 3px 0 0 !important;
        padding: 0 !important;
        width: 32px;
        height: var(--title-row-height);
        position: relative;

        button {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            .icon-button();
        }
    }

    .note-title-widget {
        height: var(--title-row-height) !important;
        margin: 0 !important;
        position: relative;

        input {
            position: absolute;
            top: 0;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            font-size: 15pt !important;
            border: 1px solid transparent !important;
            border-radius: 3px;
            padding: 0 5px;
            transition: border-color 100ms ease-in-out,
                        background-color 100ms ease-in-out;

            &:hover {
                border-color: var(--breeze-accent-color) !important;
            }

            &:focus {
                border-color: var(--breeze-accent-color) !important;
                background-color: var(--breeze-input-background) !important;
                outline: none !important;
            }
        }
    }
}

// Selects the main container of the editor, to add a full size border around it.
// TODO: Prone to breaking between versions, but no other way since there is no unique class attached to this.
.split-note-container-widget .component.mermaid-widget + .component {
    --main-background-color: var(--breeze-input-background);
    background: var(--main-background-color);
    border: 1px solid var(--breeze-input-border);
    border-radius: 3px;
    transition: border-color 250ms ease-in-out;
    margin: 0 4px 0 0 !important;
    
    &:hover,
    &:focus-within {
        border-color: var(--breeze-accent-color);
    }
}

.CodeMirror {
    .CodeMirror-gutters {
        border-right: 1px solid var(--breeze-editor-gutter-border);
        color: var(--breeze-editor-gutter-foreground);

        &> div {
            background: var(--breeze-editor-gutter-background);
        }
    }
}
