@editor-padding: 1em;

:root {
    --main-font-family: "Noto Sans", sans-serif;
    --main-font-size: 10pt;
    --tree-font-family: var(--main-font-family);
    --tree-font-size: 9.5pt;
    --detail-font-family: var(--main-font-family);
    --detail-font-size: var(--main-font-size);

    --main-text-color: var(--breeze-window-foreground);
    --main-background-color: var(--breeze-window-background);
    --input-text-color: var(--main-text-color);
    --button-text-color: var(--main-text-color);
    --muted-text-color: #939597;

    --modal-background-color: var(--breeze-modal-background);
    --modal-backdrop-color: black;

    --link-color: var(--breeze-link-color);

    --left-pane-background-color: var(--main-background-color);
    --left-pane-text-color: var(--main-text-color);

    --active-item-text-color: var(--left-pane-text-color);
    --active-item-background-color: var(--breeze-accent-color);

    --launcher-pane-background-color: var(--breeze-titlebar-inactive-background);
    --launcher-pane-text-color: var(--left-pane-text-color);

    --active-tab-background-color: var(--breeze-tabbar-active-background);
    --active-tab-text-color: var(--breeze-tabbar-active-foreground);
    --inactive-tab-background-color: var(--breeze-tabbar-normal-background);
    --inactive-tab-text-color: var(--breeze-tabbar-normal-foreground);

    --hover-item-background-color: transparent;

    --accented-background-color: var(--breeze-titlebar-inactive-background);
    --more-accented-background-color: var(--breeze-titlebar-active-background);

    --mermaid-theme: forest;

    --main-border-color: var(--breeze-input-border);    
}
