.note-list-container {
    padding: 10px;
}

.note-book-card {
    border-radius: 3px !important;
    border: 1px solid transparent !important;
    box-shadow: 0 0 9px rgb(0 0 0 / 16%);
    margin: 4px 15px 10px 0 !important;
    --accented-background-color: var(--breeze-notelist-background);
    --more-accented-background-color: var(--accented-background-color);

    &:hover {
        border-color: var(--breeze-accent-color) !important;
    }

    .note-book-header {
        line-height: 1;

        .note-icon {
            font-size: 0.9em !important;
            display: inline !important;
            vertical-align: middle;
        }

        .note-book-title {
            vertical-align: middle;
        }

        .rendered-note-attributes {
            display: block;
            font-size: 0.5em;
            margin: 0.25em 0 0 0;
            line-height: 1.1;

            &::before {
                display: none;
            }
        }
    }    

    .ck-content {
        h1, h2 {
            font-size: 1.1rem;
        }

        h3, h4, h5, h6 {
            font-size: 1rem;
        }

        pre {
            background: var(--main-background-color);
        }
    }
}

.note-book-card .note-book-card {
    box-shadow: none !important;
}