.note-list-container {
    padding: 10px;
}

.note-book-card {
    border-radius: 3px !important;
    border: 1px solid transparent !important;
    box-shadow: 3px 3px 5px rgb(0 0 0 / 12%);
    margin: 4px 15px 10px 0 !important;
    --accented-background-color: var(--breeze-titlebar-inactive-background);
    --more-accented-background-color: var(--accented-background-color);

    &:hover {
        border-color: var(--breeze-accent-color) !important;
    }
}
