@footer-ribbon-height: 31px;

.ribbon-container {
    order: 1000;
    display: flex;
    flex-wrap: wrap;

    // Move the ribbon tab bar to the bottom.
    & > div {
        flex-grow: 1;
        width: 100%;

        &.ribbon-top-row { order: 1000; }
    }

    .ribbon-tab-spacer {
        display: none;
    }

    .ribbon-tab-title-label {
        display: inline !important;
    }

    .ribbon-tab-container {
        display: block;
        margin: 0;

        .ribbon-tab-title {
            display: inline-block;
            color: @breeze-toolbutton-foreground-color;
            border: 1px solid @breeze-toolbutton-normal-border-color;
            background: @breeze-toolbutton-normal-background-color;
            font-size: 13px;
            border-radius: 3px;
            margin: 0 1px;
            padding: 2px 4px;

            &:hover {
                border-color: @breeze-toolbutton-hover-border-color !important;
                background: @breeze-toolbutton-hover-background-color;
            }

            &.active {
                border-color: @breeze-toolbutton-active-border-color;
                background-color: @breeze-toolbutton-active-background-color;
                overflow: unset;
            }

        }
    }
}
