@footer-ribbon-height: 31px;

.note-split {
    position: relative;
}

.ribbon-container {
    order: 1000;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1px !important;
    margin-left: -1px !important;   // Align borders with editor.

    // Move the ribbon tab bar to the bottom.
    & > div {
        flex-grow: 1;
        width: 100%;

        &.ribbon-top-row { order: 1000; }
    }

    .ribbon-tab-spacer {
        display: none;
    }

    .ribbon-tab-container {
        display: block;
        margin: 0;

        .ribbon-tab-title {
            display: inline-block;
            color: @breeze-toolbutton-foreground-color;
            border: 1px solid @breeze-toolbutton-normal-border-color;
            background: @breeze-toolbutton-normal-background-color;
            font-size: 13px;
            border-radius: 3px;
            margin: 0 1px;
            padding: 2px 4px;

            .bx {
                font-size: 15px;
            }

            .ribbon-tab-title-label {
                display: inline !important;
                margin-left: 2px;
            }

            &:hover {
                border-color: @breeze-toolbutton-hover-border-color !important;
                background: @breeze-toolbutton-hover-background-color;
            }

            &.active {
                border-color: @breeze-toolbutton-active-border-color;
                background-color: @breeze-toolbutton-active-background-color;
                overflow: unset;
            }

        }
    }

    .ribbon-body {
        border: 0 !important;
    }
}


/*
 * Move "More" and "History" buttons to the top right of the editor, taking into consideration
 * that there are already there the buttons to split & close the pane.
 */
@ribbon-button-right-margin: 7px;

.title-row {
    padding-right: (@breeze-iconbutton-width * 2 + @breeze-iconbutton-spacing * 6 + @ribbon-button-right-margin);
}

.ribbon-container .ribbon-button-container {
    position: absolute;
    top: 12px;
    right: @ribbon-button-right-margin;
    border: 0;
    margin: 0;

    .icon-action {
        .icon-button();
    }

    & > * {
        margin: 0 @breeze-iconbutton-spacing !important;
    }
}

