#root-widget {
    > .gutter {
        background: transparent !important;

        &.gutter-horizontal {
            border-left: 1px solid var(--breeze-sidebar-border);
        }
    }
}

#left-pane {
    --active-item-text-color: var(--breeze-sidebar-active-foreground);
    --active-item-background-color: var(--breeze-sidebar-active-background);
    --main-border-color: var(--breeze-sidebar-border);

    /*
    * Sidebar
    */
    .tree-wrapper > .tree {
        @top-margin: 12px;
        @bottom-margin: 8px;
        margin: @top-margin 4px @bottom-margin 0;
        padding-left: 5px;
        height: calc(100% - @top-margin - @bottom-margin);
    }

    .quick-search {
        border-bottom: 1px solid var(--main-border-color);
    }

    span.fancytree-node {
        border: 0;
        border-radius: 0;
        height: 28px;
    }

    span.fancytree-node:hover {
        background-color: var(--breeze-sidebar-hover-background);
        color: var(--breeze-sidebar-hover-foreground);
        border: 0;
    }

    span.fancytree-active {
        border-radius: 0;
    }

    span.fancytree-title {
        top: 0;
    }

    span.fancytree-custom-icon {
        font-size: 18px;
    }

    .fancytree-node.fancytree-expanded .fancytree-expander,
    .fancytree-node:not(.fancytree-loading) .fancytree-expander {
        width: 21px;
    }

    .fancytree-node.fancytree-expanded .fancytree-expander:before,
    .fancytree-node:not(.fancytree-loading) .fancytree-expander:before {
        color: #a3a3a5;
    }

    span.fancytree-node:not(.fancytree-loading) .fancytree-expander:before {
        font-size: 22px;
        color: var(--launcher-pane-text-color);
    }

    .ui-fancytree ul {
        padding-left: 10px;
    }

    /*
    * Quick search
    */
    .quick-search {
        height: 31px !important;
        padding: 0 !important;
    }

    .quick-search input {
        height: 30px !important;
        background: transparent !important;
    }

    /*
    * Floating buttons
    */
    .tree-actions {
        background: transparent;
        right: 0 !important;

        .tree-floating-button {
            .icon-button();
        }
    }
}
